.BuyersAvgContractsCharts {
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A577F;
  }
}