.public {
  background-image: url('../../common/img/background_image_1.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;

  .public-wrapper {
    display: flex;
    background: rgba(255, 255, 255, 0.85);

    .page_title_wrapper {
      max-width: 750px;
      min-height: 520px;
      padding: 40px 80px 40px 80px;

      .page_title {
        text-align: right;
        display: flex;
        flex-direction: column;
        margin: 0 !important;

        .page_title__text--primary {
          margin-bottom: 0;
          padding-bottom: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 66px;
          line-height: 120.69%;
          color: #000000;
          text-align: left;
        }

        .page_title_subtitles {
          display: flex;
          flex-direction: column;
          margin-top: 40px;

          .page_title__text--sub {
            font-style: normal;
            font-weight: normal;
            font-size: 36.1943px;
            line-height: 120.69%;
            text-align: left;
            color: #000000;
          }
        }

        .bank-logo-wrapper {
          display: flex;
          //justify-content: space-between;
          align-items: center;
          margin-top: 100px;

          .bank-logo {
            content: url("../../common/img/bank_logo.png");
          }

          .bank-text {
            width: 205px;
            margin-left: 25px;
            margin-top: 25px;
            font-style: normal;
            font-weight: normal;
            font-size: 11.3755px;
            line-height: 120.69%;
            letter-spacing: 0.05em;
            text-align: left;
            color: #000000;
          }
        }
      }

      .public__desc-text {
        color: #40a9ff;
        text-align: left;
      }
    }

    .login-form-wrapper {
      max-width: 395px;
      min-height: 520px;
    }

    .login-form {
      //margin-left: 10rem;
      height: 100%;
    }
  }
}

.public-light-dark {
  background-image: url('../../common/img/background_image_2.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;

  .public-wrapper {
    display: flex;

    .page_title_wrapper {
      max-width: 750px;
      min-height: 520px;
      padding: 40px 80px 40px 80px;

      .page_title {
        text-align: right;
        display: flex;
        flex-direction: column;
        margin: 0 !important;

        .page_title__text--primary {
          margin-bottom: 0;
          padding-bottom: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 66px;
          line-height: 120.69%;
          color: #000000;
          text-align: left;
        }

        .page_title_subtitles {
          display: flex;
          flex-direction: column;
          margin-top: 40px;

          .page_title__text--sub {
            font-style: normal;
            font-weight: normal;
            font-size: 36.1943px;
            line-height: 120.69%;
            text-align: left;
            color: #000000;
          }
        }

        .bank-logo-wrapper {
          display: flex;
          //justify-content: space-between;
          align-items: center;
          margin-top: 100px;

          .bank-logo {
            content: url("../../common/img/bank_logo.png");
          }

          .bank-text {
            width: 205px;
            margin-left: 25px;
            margin-top: 25px;
            font-style: normal;
            font-weight: normal;
            font-size: 11.3755px;
            line-height: 120.69%;
            letter-spacing: 0.05em;
            text-align: left;
            color: #000000;
          }
        }
      }

      .public__desc-text {
        color: #40a9ff;
        text-align: left;
      }
    }

    .login-form-wrapper {
      max-width: 395px;
      min-height: 520px;
    }

    .login-form {
      //margin-left: 10rem;
      height: 100%;
    }
  }
}

.public-light-white {
  background-image: url('../../common/img/background_image_3.png');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;

  .public-wrapper {
    display: flex;

    .page_title_wrapper {
      max-width: 750px;
      min-height: 520px;
      padding: 40px 80px 40px 80px;

      .page_title {
        text-align: right;
        display: flex;
        flex-direction: column;
        margin: 0 !important;

        .page_title__text--primary {
          margin-bottom: 0;
          padding-bottom: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 66px;
          line-height: 120.69%;
          color: #FFFFFF;
          text-align: left;
        }

        .page_title_subtitles {
          display: flex;
          flex-direction: column;
          margin-top: 40px;

          .page_title__text--sub {
            font-style: normal;
            font-weight: normal;
            font-size: 36.1943px;
            line-height: 120.69%;
            text-align: left;
            color: #FFFFFF;
          }
        }

        .bank-logo-wrapper {
          display: flex;
          //justify-content: space-between;
          align-items: center;
          margin-top: 100px;

          .bank-logo {
            content: url("../../common/img/bank_logo_white.png");
          }

          .bank-text {
            width: 205px;
            margin-left: 25px;
            margin-top: 25px;
            font-style: normal;
            font-weight: normal;
            font-size: 11.3755px;
            line-height: 120.69%;
            letter-spacing: 0.05em;
            text-align: left;
            color: #FFFFFF;
          }
        }
      }

      .public__desc-text {
        color: #40a9ff;
        text-align: left;
      }
    }

    .login-form-wrapper {
      max-width: 395px;
      min-height: 520px;
    }

    .login-form {
      //margin-left: 10rem;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .public {
    align-items: flex-start;

    .public-wrapper {
      flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .page_title__text--sub, .page_title__text--primary {
          text-align: center !important;
        }

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }

  .public-light-dark {
    align-items: flex-start;

    .public-wrapper {
      flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .page_title__text--sub, .page_title__text--primary {
          text-align: center !important;
        }

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }

  .public-light-white {
    align-items: flex-start;

    .public-wrapper {
      flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .page_title__text--sub {
          text-align: center !important;
        }

        .page_title__text--primary {
          color: #000000 !important;
          text-align: center !important;
        }

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .public {
    .public-wrapper {
      //flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }

  .public-light-dark {
    .public-wrapper {
      //flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }

  .public-light-white {
    .public-wrapper {
      //flex-direction: column;
      margin: 50px 15px 0;

      .page_title_wrapper {
        padding: 40px 5px;
        max-width: 355px;
        margin-bottom: 30px;

        .ant-divider-horizontal {
          margin: 15px 0;
        }
      }

      .login-form {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }
}
